* {
  text-align: center;
}
#quiz {
  display: block;
  width: 800px;
  padding-top: 10px;
  z-index: 1;
  height: 350px;
}
#q1 {
  display: block;
}

#q2 {
  display: none;
}
#q3 {
  display: none;
}
#q4 {
  display: none;
}
#q5 {
  display: none;
}

#q6 {
  display: none;
}

#q7 {
  display: none;
}
#embed {
  display: none;
}
#question1 #question2 #question3 #question4 #question5 #question6 {
  margin-top: 0;
  line-height: 90%;
}
/*Will adding borderBlink to qs: below*/
.friendly {
  text-align: center;
  font-size: 30px;
  padding: .5%;
  z-index: 99;
  font-family: helvetica;
  color: yellow;
  text-shadow: 2.5px 2.5px black;
}
.qtext {
  font-size: 34px;
  font-weight: bold;
  color: white;
  margin: 0;
}
li .frendly {
  text-align: center;
  display: block;
  float: left; !important
  list-style: none;
}
/*Will adding borderBlind to qs: above*/
li {
  cursor: pointer;
  list-style: none;
}
li:hover {
  font-weight: bolder;
}
#myHeader{
  font-size: 55px;
}
.browsetitle {
  position: relative;
  float: right;
  top: -35px;
  width: 255px;
  height: 100px;
  display: none;
}
.browsetitle p {
  color: yellow;
  font-family: helvetica;
  font-size: 28px;
  margin: 0;
  padding: 0;
}
#browse {
  width: 255px;
  height: 420px;
  position: relative;
  top: -50px;
  box-sizing: border-box;
  overflow: scroll;
}
