* {
  text-align: center;
}
#quiz {
  /*position: relative 100px;*/
  /*top:100px;
  left:100px;*/
  display: none;
  width: 70%
  text-align: center;
  margin-top: 0px;
  z-index: 1;
}
#q1 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}

#q2 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}
#q3 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}
#q4 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}
#q5 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}

#q6 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}

#q7 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}
/*Will adding borderBlink to qs: below*/
.friendly {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 28px;
  padding: 1%;
  z-index: 99;
  font-family: helvetica;
  color: yellow;
  text-shadow: 2.5px 2.5px black;
  margin: auto;
}
/*Will adding borderBlind to qs: above*/
li {
  cursor: pointer;
  list-style: none;
}
li:hover {
  font-weight: bolder;
}
