* {
  text-align: center;
}
#quiz {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}
#q1 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}

#q2 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}
#q3 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}
#q4 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}
#q5 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}

#q6 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}

#q7 {
  position:fixed;
  top:100px;
  left:100px;
  display: none;
}

li {
  cursor: pointer;
  list-style: none;
}
li:hover {
  font-weight: bolder;
}
