.page-body {
  background-color: rgba(138, 110, 236, .5);
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2%;
  padding-bottom: 5%;
  z-index: -10;
}
.profile-name {
  margin-left: 10%;
  margin-bottom: 3%;
  font-size: 24px;
  color: white;
}

.image{
  width: 210px;
  height: 210px;
  margin-top: auto;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-style: none;
}
.image:hover img:first-child {
  transform:scale(2) rotate(360deg);
  transition-duration: 3s;
}
.growth{
  height: 200px;
  width: 200px;
  position: absolute;
  left:22.5%;
  /*border-width: 5px;*/
  /*border-style: solid;*/
  z-index: -1;

}

.aboutMe{
  width: 60%;
  margin-top: auto;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-shadow: 2px 2px black;
  padding-left: 60px;
}
.profile-img {
  border-radius: 100%;
  float: left;
  margin-right: 3%;
  height: 200px;
  width: 200px;
  border-width: 5px;
  border-style: solid;

}
.clearfix {
  clear: both;
}
nav {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 2%;
  left: 5%;
  z-index: 97;
}
.menu {
  box-sizing: border-box;
  background-color: white;
  border-style: solid;
  border-width: thick;
  border-color: black;
  display: inline-block;
  color: black;
  margin: 2px;
  width: 42px;
  height: 50px;
  font-family: arial;
  font-weight: bold;
  font-size: 36px;
  padding-top: 1px;
  outline: solid;
  outline-color: rgb(102, 129, 122);
  outline-width: medium;
}
.blank {
  color: rgb(24, 139, 90);
  background-color: rgb(24, 139, 90);
}
a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: 'Londrina Solid', cursive;
}
a:hover {
  background-color: rgba(255, 255, 0, 0.98);
}
a {
  background-color: rgb(3, 64, 237);
}
@font-face {
  font-family: wheel;
  src: url(Fonts/Wheel-Bold.ttf);
}
h1 {
  margin-top: 130px;
  font-family: 'wheel';
  font-size: 100px;
  color: yellow;
  padding: 0px;
  text-shadow: 5px 5px black;
  z-index: 100;
  margin-bottom: 40px;
}
h2 {
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  color: yellow;
  text-shadow: 2.5px 2.5px black;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 4px;
}
h3 {
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
}
p {
  margin-bottom: 5%;
  font-family: 'Londrina Solid', cursive;
}
.qtext {
  color: white;
  font-size: 24px;
  border-style: none;
  outline: none;
  background-color: none;
}

.welcome {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 28px;
  padding: 1%;
  z-index: 99;
  font-family: helvetica;
  color: yellow;
  text-shadow: 2.5px 2.5px black;
}
.deets {
  position: relative;
  top: -20px;
}
footer {
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  background-color: rgba(138, 110, 236, .5);
  margin-right: 15%;
  margin-left: 15%;
}
.nav-text {
  border-style: double;
  border-width: 2px;
}
#rear {
  width: 700px;
  height: 700px;
  opacity: 0.5;
  background-repeat: no-repeat;
}
.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease-in-out;
  -o-tranition: rotate(360deg);
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}



/*Will adding spotlight features for US27:*/
body {
  background-image: url(images/pink_background.jpg);
  background-size: 100%;
  /*background-repeat: no-repeat;
  background-attachment: fixed;*/
}
#wheel {
  width: 100%;
  position: absolute;
  text-align: center;
  padding-top: 150px;
  z-index: -1;
}
/*body { background-color: black; color: white;}*/
.spot1 {
  left: 40%;
  -webkit-animation: move 5s infinite;
  z-index: -.5;
}
.spot2 {
  left: 60%;
  -webkit-animation: move2 5s infinite;
  z-index: -.5;
}
.spotlight {
  position: absolute;
  width: 53px;
  height: 0px;
  border-top: 800px solid rgba(230, 241, 18, 0.25);
  border-left: 40px solid transparent;
  border-bottom: -100px solid #575;
  border-right: 40px solid transparent;
  background-color: transparent;
  -webkit-transform-origin: 50% 100% 0;
  z-index: -.5;
  /*-webkit-transition-timing: ease-in-out https://codepen.io/caseymhunt/details/honFp.*/
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
  }
}
@-webkit-keyframes move2 {
  0% {
  /*-----------DO NOT WORK BELOW THIS LINE--------------*/
    -webkit-transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
  }
}


/*Will & Ozge styling index text here:*/
.lights {
  /*border: 10px dotted;*/

}
.borderBlink {
  border: 10px dotted yellow;
  width: 700px;
  height: 350px;
  margin: auto;
  -webkit-animation: borderBlink 1s step-end infinite;
  animation: borderBlink 1s step-end infinite;
  background-color: rgba(0, 0, 0, 0.3);
}
@-webkit-keyframes borderBlink {
  from, to {
    border-color: gold
  }
  50% {
    border-color: yellow
  }
}
@keyframes borderBlink {
  from, to {
    border-color: gold
  }
  50% {
    border-color: yellow
  }
}
input {
  box-sizing: border-box;
  border-style: none;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  padding-left: 8px;
  padding-top: 3px;
  z-index: 98;
  position: relative;
}
input::placeholder {
  font-size: 20px;
}
input[type='text'] {
  font-size: 20px;
}
#spin {
  min-width: 200px;
  min-height: 100px;
  background-color: gold;
  color: black;
  text-shadow: 1.5px 1.5px yellow;
  font-size: 28px;
  font-family: helvetica;
  border-radius: 15px;
  position: relative;
}
