.profile-img {
  border-radius: 100%;
  float: left;
  margin-right: 3%;
}
.clearfix {
  clear: both;
}
nav {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
}
ul {
  margin-left: 2%;
  padding: 0;
  list-style: none;
}
ul p {
  box-sizing: border-box;
  background-color: white;
  border-style: solid;
  border-width: thick;
  border-color: black;
  display: inline-block;
  color: black;
  margin: 2px;
  width: 42px;
  height: 50px;
  font-family: arial;
  font-weight: bold;
  font-size: 36px;
  padding-top: 1px;
  outline: solid;
  outline-color: rgb(102, 129, 122);
  outline-width: medium;
}
.blank {
  color: rgb(24, 139, 90);
  background-color: rgb(24, 139, 90);
}
li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: 'Londrina Solid', cursive;
}

a:hover:not(.active) {
background-color: rgba(255, 255, 0, 0.98);
}

.active {
background-color: rgb(159, 116, 61);
}
@font-face {
  font-family: wheel;
  src: url(Fonts/Wheel-Bold.ttf);
}
h1 {
margin-top: 150px;
font-family: 'wheel';
/*font-family: 'Fontdiner Swanky', cursive;*/
font-size: 100px;
color: yellow;
padding: 0px;
z-index: 100;
}
h2 {
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  font-size: 50px;
}
h3 {
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
}
p {
  margin-bottom: 5%;
  font-family: 'Londrina Solid', cursive;
}
.welcome {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 1%;
  z-index: 99;
}
.deets {
  position: relative;
  top: -20px;
}
footer {
  text-align: center;
  font-family: 'Londrina Solid', cursive;
}

body {
  /*margin-left: 15%;
  margin-right: 15%;*/
}

.nav-text {
  border-style: double;
  border-width: 2px;
}
#rear {
  width: 700px;
  height: 700px;
  opacity: 0.5;
  /*margin: 0 auto;*/
  background-repeat: no-repeat;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-tranition: rotate(360deg);
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}



/*Will adding spotlight features for US27:*/
body {
  background-image: url(pink_background.jpg);
  background-size: 100%;
}
#wheel {
  width: 100%;
  position: absolute;
  text-align: center;
  padding-top: 150px;
  z-index: -1;
}
/*body { background-color: black; color: white;}*/
.spot1 {
  left: 40%;
  -webkit-animation: move 5s infinite;
}
.spot2 {
  left: 60%;
  -webkit-animation: move2 5s infinite;
}
.spotlight {
  position: absolute;
  width: 53px;
  height: 0px;
  border-top: 800px solid rgba(230, 241, 18, 0.25);
  border-left: 40px solid transparent;
  border-bottom: -100px solid #575;
  border-right: 40px solid transparent;
  background-color: transparent;
  -webkit-transform-origin: 50% 100% 0;
  z-index: -.5;
  /*-webkit-transition-timing: ease-in-out https://codepen.io/caseymhunt/details/honFp.*/
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
  }
}
@-webkit-keyframes move2 {
  0% {
    -webkit-transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
  }
}
